.header {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.time, .movie {
  font-size: 14px;
  color: #888;
}

.time {
  width: 65px;
  text-align: center;
}

.movie {
  flex-grow: 1;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
} 