.homePage {
  /* Убираем стандартные padding, т.к. у Header и секций будут свои */
  padding-bottom: 30px; /* Увеличиваем отступ для BottomNav */
  background-color: #f4f6f8; /* Светлый фон для основной части */
  max-width: 600px;
  margin: 0 auto;
  /* padding: 20px; */
}

.section {
  padding: 20px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: #333;
}

.sectionSubtitle {
  font-size: 14px;
  color: #888;
  margin: 0 0 15px 0;
}

.weatherSection {
  margin-bottom: 20px; /* Добавляем отступ снизу для секции с погодой */
}

/* Сетка для карточек предметов */
.subjectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  gap: 15px; /* Отступ между карточками */
} 